# Dependencies
node_modules
**/node_modules

# Build output
dist
build

# Logs
npm-debug.log
yarn-debug.log
yarn-error.log

# Environment files
.env
.env.*

# Git
.git
.gitignore

# Docker files (optional)
Dockerfile
docker-compose.yml

# OS / Editor junk
.DS_Store
Thumbs.db

# Cache / temp
.tmp
tmp
.cache
.npm

# Tests
coverage
